relay.json
[
    {
        "id": "3aa77a92.89f776",
        "type": "tab",
        "label": "Relay Board Flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "caa2bbdf.602fc8",
        "type": "comment",
        "z": "3aa77a92.89f776",
        "name": "Relay Board",
        "info": "",
        "x": 110,
        "y": 23,
        "wires": []
    },
    {
        "id": "4c2f9121.a238c",
        "type": "comment",
        "z": "3aa77a92.89f776",
        "name": "Relay 1 \"Open door 1 way\"",
        "info": "",
        "x": 150,
        "y": 120,
        "wires": []
    },
    {
        "id": "2d8b6b4d.3698a4",
        "type": "comment",
        "z": "3aa77a92.89f776",
        "name": "Relay 2 \"Open door opposite way\"",
        "info": "",
        "x": 180,
        "y": 383,
        "wires": []
    },
    {
        "id": "3423e942.59b376",
        "type": "switch",
        "z": "3aa77a92.89f776",
        "name": "ON/OFF state",
        "property": "relay1",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 440,
        "y": 240,
        "wires": [
            [
                "79261bff.4dd034"
            ],
            [
                "d2770f3f.133f2"
            ]
        ]
    },
    {
        "id": "79261bff.4dd034",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "if is on",
        "func": "msg.color = \"black\";\nmsg.background = \"#EF2F4F\";\nmsg.text = \"OPEN\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 200,
        "wires": [
            [
                "6ece178b.cfdf88"
            ]
        ]
    },
    {
        "id": "d2770f3f.133f2",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "if its off",
        "func": "msg.color = \"black\";\nmsg.background = \"#B4EEB4\";\nmsg.text = \"OPEN\";\nmsg.icon = \"fa-arrow-circle-o-up\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 260,
        "wires": [
            [
                "6ece178b.cfdf88"
            ]
        ]
    },
    {
        "id": "6ece178b.cfdf88",
        "type": "ui_button",
        "z": "3aa77a92.89f776",
        "name": "on/off",
        "group": "1c6dc6a2.a5bce9",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{msg.text}}",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "icon": "fa-arrow-circle-o-up",
        "payload": "none",
        "payloadType": "str",
        "topic": "relay1",
        "x": 770,
        "y": 220,
        "wires": [
            [
                "105757c.77619a8"
            ]
        ]
    },
    {
        "id": "105757c.77619a8",
        "type": "switch",
        "z": "3aa77a92.89f776",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "relay1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 890,
        "y": 220,
        "wires": [
            [
                "11bd0ba5.2ada54"
            ]
        ]
    },
    {
        "id": "a8405b8f.6ddcd8",
        "type": "inject",
        "z": "3aa77a92.89f776",
        "name": "",
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "x": 90,
        "y": 180,
        "wires": [
            [
                "3e3b932f.bf970c"
            ]
        ]
    },
    {
        "id": "3e3b932f.bf970c",
        "type": "change",
        "z": "3aa77a92.89f776",
        "name": "global switch start",
        "rules": [
            {
                "t": "set",
                "p": "relay1",
                "pt": "global",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "fd98b2d7.c8c9d",
        "type": "inject",
        "z": "3aa77a92.89f776",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 110,
        "y": 240,
        "wires": [
            [
                "beb2d5f0.990588"
            ]
        ]
    },
    {
        "id": "11bd0ba5.2ada54",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "",
        "func": "var obtaindata = global.get (\"relay1\")\nif (obtaindata == \"1\"){msg.payload = \"0\"}\nif (obtaindata == \"0\"){msg.payload = \"1\"}\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 220,
        "wires": [
            [
                "da89ab97.9cd0e8"
            ]
        ]
    },
    {
        "id": "314e4dbb.a5b762",
        "type": "change",
        "z": "3aa77a92.89f776",
        "name": "re-wirte switch variable",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "relay1",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "5c1a26f0.52cb58",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "check variable value for debug",
        "func": "var obtaindata = global.get (\"relay1\");\nmsg.payload = obtaindata;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 340,
        "wires": [
            [
                "75b8ef2e.ab21a",
                "e17ba255.027e8"
            ]
        ]
    },
    {
        "id": "beb2d5f0.990588",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "",
        "func": "var obtaindata = global.get (\"relay1\");\nmsg.payload = obtaindata;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 240,
        "wires": [
            [
                "3423e942.59b376"
            ]
        ]
    },
    {
        "id": "75b8ef2e.ab21a",
        "type": "rpi-gpio out",
        "z": "3aa77a92.89f776",
        "name": "",
        "pin": "13",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 1380,
        "y": 220,
        "wires": []
    },
    {
        "id": "e17ba255.027e8",
        "type": "debug",
        "z": "3aa77a92.89f776",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1390,
        "y": 280,
        "wires": []
    },
    {
        "id": "da89ab97.9cd0e8",
        "type": "trigger",
        "z": "3aa77a92.89f776",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "3",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 1160,
        "y": 220,
        "wires": [
            [
                "75b8ef2e.ab21a",
                "314e4dbb.a5b762",
                "e17ba255.027e8"
            ]
        ]
    },
    {
        "id": "7bfee167.8c1c4",
        "type": "switch",
        "z": "3aa77a92.89f776",
        "name": "ON/OFF state",
        "property": "relay2",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 400,
        "y": 500,
        "wires": [
            [
                "a99436fd.bc5c18"
            ],
            [
                "89456cb6.d65ef"
            ]
        ]
    },
    {
        "id": "a99436fd.bc5c18",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "if is on",
        "func": "msg.color = \"black\";\nmsg.background = \"#EF2F4F\";\nmsg.text = \"OPENING\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 460,
        "wires": [
            [
                "dee18dfc.82ae6"
            ]
        ]
    },
    {
        "id": "89456cb6.d65ef",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "if its off",
        "func": "msg.color = \"black\";\nmsg.background = \"#B4EEB4\";\nmsg.text = \"OPEN\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 520,
        "wires": [
            [
                "dee18dfc.82ae6"
            ]
        ]
    },
    {
        "id": "dee18dfc.82ae6",
        "type": "ui_button",
        "z": "3aa77a92.89f776",
        "name": "on/off",
        "group": "1c6dc6a2.a5bce9",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{msg.text}}",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "icon": "fa-arrow-circle-o-down",
        "payload": "none",
        "payloadType": "str",
        "topic": "relay2",
        "x": 770,
        "y": 480,
        "wires": [
            [
                "c4a34526.4a7bc8"
            ]
        ]
    },
    {
        "id": "c4a34526.4a7bc8",
        "type": "switch",
        "z": "3aa77a92.89f776",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "relay2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 890,
        "y": 480,
        "wires": [
            [
                "d46f084c.e9a028"
            ]
        ]
    },
    {
        "id": "d3851793.bc1f98",
        "type": "inject",
        "z": "3aa77a92.89f776",
        "name": "",
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "x": 90,
        "y": 440,
        "wires": [
            [
                "46b562a3.dfc1fc"
            ]
        ]
    },
    {
        "id": "46b562a3.dfc1fc",
        "type": "change",
        "z": "3aa77a92.89f776",
        "name": "global switch start",
        "rules": [
            {
                "t": "set",
                "p": "relay2",
                "pt": "global",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "b4851443.b5d2d8",
        "type": "inject",
        "z": "3aa77a92.89f776",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 110,
        "y": 500,
        "wires": [
            [
                "a540d07d.bce41"
            ]
        ]
    },
    {
        "id": "d46f084c.e9a028",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "",
        "func": "var obtaindata = global.get (\"relay2\")\nif (obtaindata == \"1\"){msg.payload = \"0\"}\nif (obtaindata == \"0\"){msg.payload = \"1\"}\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 480,
        "wires": [
            [
                "d9f45bac.e85118"
            ]
        ]
    },
    {
        "id": "92872d4.7b94bd",
        "type": "change",
        "z": "3aa77a92.89f776",
        "name": "re-wirte switch variable",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "relay2",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "b290ccdf.fd20f",
        "type": "inject",
        "z": "3aa77a92.89f776",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 560,
        "wires": [
            [
                "29614326.89e06c"
            ]
        ]
    },
    {
        "id": "29614326.89e06c",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "check variable value for debug",
        "func": "var obtaindata = global.get (\"relay2\");\nmsg.payload = obtaindata;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 560,
        "wires": [
            [
                "407b2599.7566cc",
                "4fee5b56.5bca14"
            ]
        ]
    },
    {
        "id": "a540d07d.bce41",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "",
        "func": "var obtaindata = global.get (\"relay2\");\nmsg.payload = obtaindata;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 500,
        "wires": [
            [
                "7bfee167.8c1c4"
            ]
        ]
    },
    {
        "id": "407b2599.7566cc",
        "type": "rpi-gpio out",
        "z": "3aa77a92.89f776",
        "name": "",
        "pin": "15",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 1380,
        "y": 480,
        "wires": []
    },
    {
        "id": "4fee5b56.5bca14",
        "type": "debug",
        "z": "3aa77a92.89f776",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1390,
        "y": 540,
        "wires": []
    },
    {
        "id": "1a830c75.c63124",
        "type": "inject",
        "z": "3aa77a92.89f776",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 280,
        "wires": [
            [
                "5c1a26f0.52cb58"
            ]
        ]
    },
    {
        "id": "d9f45bac.e85118",
        "type": "trigger",
        "z": "3aa77a92.89f776",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "3",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 1140,
        "y": 480,
        "wires": [
            [
                "407b2599.7566cc",
                "92872d4.7b94bd",
                "4fee5b56.5bca14"
            ]
        ]
    },
    {
        "id": "4b02d122.04622",
        "type": "comment",
        "z": "3aa77a92.89f776",
        "name": "Virtual Emergency Flow",
        "info": "",
        "x": 140,
        "y": 620,
        "wires": []
    },
    {
        "id": "e48753ac.858b7",
        "type": "switch",
        "z": "3aa77a92.89f776",
        "name": "ON/OFF state",
        "property": "vrelay2",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 420,
        "y": 740,
        "wires": [
            [
                "a21c0d41.9d584"
            ],
            [
                "fd5b6d77.82c68"
            ]
        ]
    },
    {
        "id": "a21c0d41.9d584",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "if is on",
        "func": "msg.color = \"black\";\nmsg.background = \"#EF2F4F\";\nmsg.text = \"CLOSE\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 700,
        "wires": [
            [
                "7ee12243.cdfaac"
            ]
        ]
    },
    {
        "id": "fd5b6d77.82c68",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "if its off",
        "func": "msg.color = \"black\";\nmsg.background = \"#B4EEB4\";\nmsg.text = \"KEEP OPEN\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 760,
        "wires": [
            [
                "7ee12243.cdfaac"
            ]
        ]
    },
    {
        "id": "7ee12243.cdfaac",
        "type": "ui_button",
        "z": "3aa77a92.89f776",
        "name": "Keep Open On/Off",
        "group": "1c6dc6a2.a5bce9",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{msg.text}}",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "icon": "fa-exclamation-triangle",
        "payload": "none",
        "payloadType": "str",
        "topic": "vrelay2",
        "x": 810,
        "y": 720,
        "wires": [
            [
                "99b92a34.6c9058"
            ]
        ]
    },
    {
        "id": "99b92a34.6c9058",
        "type": "switch",
        "z": "3aa77a92.89f776",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "vrelay2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 890,
        "y": 720,
        "wires": [
            [
                "8815db56.723988"
            ]
        ]
    },
    {
        "id": "8c0be8d7.1b1a68",
        "type": "inject",
        "z": "3aa77a92.89f776",
        "name": "",
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "x": 90,
        "y": 680,
        "wires": [
            [
                "78ad84da.c5ebfc"
            ]
        ]
    },
    {
        "id": "78ad84da.c5ebfc",
        "type": "change",
        "z": "3aa77a92.89f776",
        "name": "global switch start",
        "rules": [
            {
                "t": "set",
                "p": "vrelay2",
                "pt": "global",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "5a45695e.6cb8c8",
        "type": "inject",
        "z": "3aa77a92.89f776",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 110,
        "y": 740,
        "wires": [
            [
                "d1bab827.5189c8"
            ]
        ]
    },
    {
        "id": "8815db56.723988",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "",
        "func": "var obtaindata = global.get (\"vrelay2\")\nif (obtaindata == \"1\"){msg.payload = \"0\"}\nif (obtaindata == \"0\"){msg.payload = \"1\"}\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 720,
        "wires": [
            [
                "fae4b851.6de1e8",
                "2b39819f.3e1a6e",
                "1e343f7.be2abc1"
            ]
        ]
    },
    {
        "id": "fae4b851.6de1e8",
        "type": "change",
        "z": "3aa77a92.89f776",
        "name": "re-wirte switch variable",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "vrelay2",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "f79c990a.e3e9f8",
        "type": "inject",
        "z": "3aa77a92.89f776",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 800,
        "wires": [
            [
                "35b7e272.69d36e"
            ]
        ]
    },
    {
        "id": "35b7e272.69d36e",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "check variable value for debug",
        "func": "var obtaindata = global.get (\"vrelay2\");\nmsg.payload = obtaindata;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 800,
        "wires": [
            [
                "2b39819f.3e1a6e",
                "1e343f7.be2abc1"
            ]
        ]
    },
    {
        "id": "d1bab827.5189c8",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "",
        "func": "var obtaindata = global.get (\"vrelay2\");\nmsg.payload = obtaindata;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 740,
        "wires": [
            [
                "e48753ac.858b7"
            ]
        ]
    },
    {
        "id": "2b39819f.3e1a6e",
        "type": "rpi-gpio out",
        "z": "3aa77a92.89f776",
        "name": "",
        "pin": "15",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 1380,
        "y": 720,
        "wires": []
    },
    {
        "id": "1e343f7.be2abc1",
        "type": "debug",
        "z": "3aa77a92.89f776",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1390,
        "y": 780,
        "wires": []
    },
    {
        "id": "10226e35.ecb242",
        "type": "comment",
        "z": "3aa77a92.89f776",
        "name": "Relay 3 \"Open door 1 way\"",
        "info": "",
        "x": 150,
        "y": 880,
        "wires": []
    },
    {
        "id": "5c47a9ee.0e52e8",
        "type": "comment",
        "z": "3aa77a92.89f776",
        "name": "Relay 4 \"Open door opposite way\"",
        "info": "",
        "x": 180,
        "y": 1143,
        "wires": []
    },
    {
        "id": "d56b2b46.5aff78",
        "type": "switch",
        "z": "3aa77a92.89f776",
        "name": "ON/OFF state",
        "property": "relay3",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 440,
        "y": 1000,
        "wires": [
            [
                "75b76116.5bbaa"
            ],
            [
                "997c7273.a7543"
            ]
        ]
    },
    {
        "id": "75b76116.5bbaa",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "if is on",
        "func": "msg.color = \"black\";\nmsg.background = \"#EF2F4F\";\nmsg.text = \"OPEN\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 960,
        "wires": [
            [
                "5ddef362.cd4d8c"
            ]
        ]
    },
    {
        "id": "997c7273.a7543",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "if its off",
        "func": "msg.color = \"black\";\nmsg.background = \"#B4EEB4\";\nmsg.text = \"OPEN\";\nmsg.icon = \"fa-arrow-circle-o-up\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 1020,
        "wires": [
            [
                "5ddef362.cd4d8c"
            ]
        ]
    },
    {
        "id": "5ddef362.cd4d8c",
        "type": "ui_button",
        "z": "3aa77a92.89f776",
        "name": "on/off",
        "group": "21fdd7fc.fa69e8",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{msg.text}}",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "icon": "fa-arrow-circle-o-up",
        "payload": "none",
        "payloadType": "str",
        "topic": "relay3",
        "x": 770,
        "y": 980,
        "wires": [
            [
                "bec0d6f5.05aa68"
            ]
        ]
    },
    {
        "id": "bec0d6f5.05aa68",
        "type": "switch",
        "z": "3aa77a92.89f776",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "relay3",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 890,
        "y": 980,
        "wires": [
            [
                "e9dfb37a.226ba"
            ]
        ]
    },
    {
        "id": "abbae091.9dae6",
        "type": "inject",
        "z": "3aa77a92.89f776",
        "name": "",
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "x": 90,
        "y": 940,
        "wires": [
            [
                "a8a2dd7c.09203"
            ]
        ]
    },
    {
        "id": "a8a2dd7c.09203",
        "type": "change",
        "z": "3aa77a92.89f776",
        "name": "global switch start",
        "rules": [
            {
                "t": "set",
                "p": "relay3",
                "pt": "global",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "fc7b61fe.ca4",
        "type": "inject",
        "z": "3aa77a92.89f776",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 110,
        "y": 1000,
        "wires": [
            [
                "6caef034.3f125"
            ]
        ]
    },
    {
        "id": "e9dfb37a.226ba",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "",
        "func": "var obtaindata = global.get (\"relay3\")\nif (obtaindata == \"1\"){msg.payload = \"0\"}\nif (obtaindata == \"0\"){msg.payload = \"1\"}\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 980,
        "wires": [
            [
                "65dff50b.d93ecc"
            ]
        ]
    },
    {
        "id": "811acd29.fb0fb",
        "type": "change",
        "z": "3aa77a92.89f776",
        "name": "re-wirte switch variable",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "relay3",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "f461e739.54f868",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "check variable value for debug",
        "func": "var obtaindata = global.get (\"relay3\");\nmsg.payload = obtaindata;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 1060,
        "wires": [
            [
                "29be1563.b8de0a",
                "c9fe1f1a.13b37"
            ]
        ]
    },
    {
        "id": "6caef034.3f125",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "",
        "func": "var obtaindata = global.get (\"relay3\");\nmsg.payload = obtaindata;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 1000,
        "wires": [
            [
                "d56b2b46.5aff78"
            ]
        ]
    },
    {
        "id": "29be1563.b8de0a",
        "type": "rpi-gpio out",
        "z": "3aa77a92.89f776",
        "name": "",
        "pin": "16",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 1380,
        "y": 980,
        "wires": []
    },
    {
        "id": "c9fe1f1a.13b37",
        "type": "debug",
        "z": "3aa77a92.89f776",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1390,
        "y": 1040,
        "wires": []
    },
    {
        "id": "65dff50b.d93ecc",
        "type": "trigger",
        "z": "3aa77a92.89f776",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "3",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 1160,
        "y": 980,
        "wires": [
            [
                "29be1563.b8de0a",
                "811acd29.fb0fb",
                "c9fe1f1a.13b37"
            ]
        ]
    },
    {
        "id": "4c3113c0.d52e9c",
        "type": "switch",
        "z": "3aa77a92.89f776",
        "name": "ON/OFF state",
        "property": "relay4",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 400,
        "y": 1260,
        "wires": [
            [
                "b3af7b34.cf62b8"
            ],
            [
                "c029f25e.f7fcc"
            ]
        ]
    },
    {
        "id": "b3af7b34.cf62b8",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "if is on",
        "func": "msg.color = \"black\";\nmsg.background = \"#EF2F4F\";\nmsg.text = \"OPENING\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 1220,
        "wires": [
            [
                "4796ae55.2cfcf"
            ]
        ]
    },
    {
        "id": "c029f25e.f7fcc",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "if its off",
        "func": "msg.color = \"black\";\nmsg.background = \"#B4EEB4\";\nmsg.text = \"OPEN\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 1280,
        "wires": [
            [
                "4796ae55.2cfcf"
            ]
        ]
    },
    {
        "id": "4796ae55.2cfcf",
        "type": "ui_button",
        "z": "3aa77a92.89f776",
        "name": "on/off",
        "group": "21fdd7fc.fa69e8",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{msg.text}}",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "icon": "fa-arrow-circle-o-down",
        "payload": "none",
        "payloadType": "str",
        "topic": "relay4",
        "x": 770,
        "y": 1240,
        "wires": [
            [
                "525421ac.8428b"
            ]
        ]
    },
    {
        "id": "525421ac.8428b",
        "type": "switch",
        "z": "3aa77a92.89f776",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "relay4",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 890,
        "y": 1240,
        "wires": [
            [
                "f4d3fc0d.5440f"
            ]
        ]
    },
    {
        "id": "1b97741d.904aac",
        "type": "inject",
        "z": "3aa77a92.89f776",
        "name": "",
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "x": 90,
        "y": 1200,
        "wires": [
            [
                "18d3c4a3.08981b"
            ]
        ]
    },
    {
        "id": "18d3c4a3.08981b",
        "type": "change",
        "z": "3aa77a92.89f776",
        "name": "global switch start",
        "rules": [
            {
                "t": "set",
                "p": "relay4",
                "pt": "global",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "eaa4cbd3.d650c8",
        "type": "inject",
        "z": "3aa77a92.89f776",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 110,
        "y": 1260,
        "wires": [
            [
                "d5f1c4d1.b89398"
            ]
        ]
    },
    {
        "id": "f4d3fc0d.5440f",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "",
        "func": "var obtaindata = global.get (\"relay2\")\nif (obtaindata == \"1\"){msg.payload = \"0\"}\nif (obtaindata == \"0\"){msg.payload = \"1\"}\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 1240,
        "wires": [
            [
                "c84e2ecd.dff4e"
            ]
        ]
    },
    {
        "id": "ecd301e5.5b9f7",
        "type": "change",
        "z": "3aa77a92.89f776",
        "name": "re-wirte switch variable",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "relay4",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "2632d67d.3e1c7a",
        "type": "inject",
        "z": "3aa77a92.89f776",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 1320,
        "wires": [
            [
                "9b040ea4.30747"
            ]
        ]
    },
    {
        "id": "9b040ea4.30747",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "check variable value for debug",
        "func": "var obtaindata = global.get (\"relay4\");\nmsg.payload = obtaindata;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 1320,
        "wires": [
            [
                "5ce06424.ce31cc",
                "66b039df.dd0b28"
            ]
        ]
    },
    {
        "id": "d5f1c4d1.b89398",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "",
        "func": "var obtaindata = global.get (\"relay4\");\nmsg.payload = obtaindata;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 1260,
        "wires": [
            [
                "4c3113c0.d52e9c"
            ]
        ]
    },
    {
        "id": "5ce06424.ce31cc",
        "type": "rpi-gpio out",
        "z": "3aa77a92.89f776",
        "name": "",
        "pin": "19",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 1380,
        "y": 1240,
        "wires": []
    },
    {
        "id": "66b039df.dd0b28",
        "type": "debug",
        "z": "3aa77a92.89f776",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1390,
        "y": 1300,
        "wires": []
    },
    {
        "id": "c82a61e5.2c17f",
        "type": "inject",
        "z": "3aa77a92.89f776",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 1060,
        "wires": [
            [
                "f461e739.54f868"
            ]
        ]
    },
    {
        "id": "c84e2ecd.dff4e",
        "type": "trigger",
        "z": "3aa77a92.89f776",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "3",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 1140,
        "y": 1240,
        "wires": [
            [
                "5ce06424.ce31cc",
                "ecd301e5.5b9f7",
                "66b039df.dd0b28"
            ]
        ]
    },
    {
        "id": "688000e.d2164",
        "type": "comment",
        "z": "3aa77a92.89f776",
        "name": "Virtual Emergency Flow",
        "info": "",
        "x": 140,
        "y": 1380,
        "wires": []
    },
    {
        "id": "17704fb4.549bd",
        "type": "switch",
        "z": "3aa77a92.89f776",
        "name": "ON/OFF state",
        "property": "vrelay4",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 420,
        "y": 1500,
        "wires": [
            [
                "3a9a1657.8a080a"
            ],
            [
                "82ac9d5f.0af7e"
            ]
        ]
    },
    {
        "id": "3a9a1657.8a080a",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "if is on",
        "func": "msg.color = \"black\";\nmsg.background = \"#EF2F4F\";\nmsg.text = \"CLOSE\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 1460,
        "wires": [
            [
                "2db80b2b.f00024"
            ]
        ]
    },
    {
        "id": "82ac9d5f.0af7e",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "if its off",
        "func": "msg.color = \"black\";\nmsg.background = \"#B4EEB4\";\nmsg.text = \"KEEP OPEN\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 1520,
        "wires": [
            [
                "2db80b2b.f00024"
            ]
        ]
    },
    {
        "id": "2db80b2b.f00024",
        "type": "ui_button",
        "z": "3aa77a92.89f776",
        "name": "on/off",
        "group": "21fdd7fc.fa69e8",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{msg.text}}",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "icon": "fa-exclamation-triangle",
        "payload": "none",
        "payloadType": "str",
        "topic": "vrelay4",
        "x": 770,
        "y": 1480,
        "wires": [
            [
                "582ef3ef.1c353c"
            ]
        ]
    },
    {
        "id": "582ef3ef.1c353c",
        "type": "switch",
        "z": "3aa77a92.89f776",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "vrelay4",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 890,
        "y": 1480,
        "wires": [
            [
                "2f915c1.11f32a4"
            ]
        ]
    },
    {
        "id": "4622f468.2249fc",
        "type": "inject",
        "z": "3aa77a92.89f776",
        "name": "",
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "x": 90,
        "y": 1440,
        "wires": [
            [
                "f7ed75d3.cb0d18"
            ]
        ]
    },
    {
        "id": "f7ed75d3.cb0d18",
        "type": "change",
        "z": "3aa77a92.89f776",
        "name": "global switch start",
        "rules": [
            {
                "t": "set",
                "p": "vrelay4",
                "pt": "global",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "151e674a.8e5dd9",
        "type": "inject",
        "z": "3aa77a92.89f776",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 110,
        "y": 1500,
        "wires": [
            [
                "e659c51b.bf1638"
            ]
        ]
    },
    {
        "id": "2f915c1.11f32a4",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "",
        "func": "var obtaindata = global.get (\"vrelay4\")\nif (obtaindata == \"1\"){msg.payload = \"0\"}\nif (obtaindata == \"0\"){msg.payload = \"1\"}\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 1480,
        "wires": [
            [
                "a0df0d6e.d0091",
                "26d03146.4f134e",
                "491ddf13.df782"
            ]
        ]
    },
    {
        "id": "a0df0d6e.d0091",
        "type": "change",
        "z": "3aa77a92.89f776",
        "name": "re-wirte switch variable",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "vrelay4",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 1420,
        "wires": [
            []
        ]
    },
    {
        "id": "9b80f58.32d5708",
        "type": "inject",
        "z": "3aa77a92.89f776",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 1560,
        "wires": [
            [
                "62334797.45eee8"
            ]
        ]
    },
    {
        "id": "62334797.45eee8",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "check variable value for debug",
        "func": "var obtaindata = global.get (\"vrelay4\");\nmsg.payload = obtaindata;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 1560,
        "wires": [
            [
                "26d03146.4f134e",
                "491ddf13.df782"
            ]
        ]
    },
    {
        "id": "e659c51b.bf1638",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "",
        "func": "var obtaindata = global.get (\"vrelay4\");\nmsg.payload = obtaindata;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 1500,
        "wires": [
            [
                "17704fb4.549bd"
            ]
        ]
    },
    {
        "id": "26d03146.4f134e",
        "type": "rpi-gpio out",
        "z": "3aa77a92.89f776",
        "name": "",
        "pin": "19",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 1380,
        "y": 1480,
        "wires": []
    },
    {
        "id": "491ddf13.df782",
        "type": "debug",
        "z": "3aa77a92.89f776",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1390,
        "y": 1540,
        "wires": []
    },
    {
        "id": "dc3de883.ad4198",
        "type": "comment",
        "z": "3aa77a92.89f776",
        "name": "Relay 5 \"Open door 1 way\"",
        "info": "",
        "x": 150,
        "y": 1640,
        "wires": []
    },
    {
        "id": "16243f6d.651121",
        "type": "comment",
        "z": "3aa77a92.89f776",
        "name": "Relay 6 \"Open door opposite way\"",
        "info": "",
        "x": 180,
        "y": 1903,
        "wires": []
    },
    {
        "id": "239469d3.f821f6",
        "type": "switch",
        "z": "3aa77a92.89f776",
        "name": "ON/OFF state",
        "property": "relay5",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 440,
        "y": 1760,
        "wires": [
            [
                "a8be9b3a.74f008"
            ],
            [
                "6df33dce.4521f4"
            ]
        ]
    },
    {
        "id": "a8be9b3a.74f008",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "if is on",
        "func": "msg.color = \"black\";\nmsg.background = \"#EF2F4F\";\nmsg.text = \"OPEN\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 1720,
        "wires": [
            [
                "9dbb6cb2.4f968"
            ]
        ]
    },
    {
        "id": "6df33dce.4521f4",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "if its off",
        "func": "msg.color = \"black\";\nmsg.background = \"#B4EEB4\";\nmsg.text = \"OPEN\";\nmsg.icon = \"fa-arrow-circle-o-up\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 1780,
        "wires": [
            [
                "9dbb6cb2.4f968"
            ]
        ]
    },
    {
        "id": "9dbb6cb2.4f968",
        "type": "ui_button",
        "z": "3aa77a92.89f776",
        "name": "on/off",
        "group": "8ba66781.eaa9d8",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{msg.text}}",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "icon": "fa-arrow-circle-o-up",
        "payload": "none",
        "payloadType": "str",
        "topic": "relay5",
        "x": 770,
        "y": 1740,
        "wires": [
            [
                "504ef940.bd5178"
            ]
        ]
    },
    {
        "id": "504ef940.bd5178",
        "type": "switch",
        "z": "3aa77a92.89f776",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "relay5",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 890,
        "y": 1740,
        "wires": [
            [
                "c429d53d.197a48"
            ]
        ]
    },
    {
        "id": "55521331.fa6e3c",
        "type": "inject",
        "z": "3aa77a92.89f776",
        "name": "",
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "x": 90,
        "y": 1700,
        "wires": [
            [
                "7dd2006.7bb4b"
            ]
        ]
    },
    {
        "id": "7dd2006.7bb4b",
        "type": "change",
        "z": "3aa77a92.89f776",
        "name": "global switch start",
        "rules": [
            {
                "t": "set",
                "p": "relay5",
                "pt": "global",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 1700,
        "wires": [
            []
        ]
    },
    {
        "id": "5d9a0a1e.cc86c4",
        "type": "inject",
        "z": "3aa77a92.89f776",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 110,
        "y": 1760,
        "wires": [
            [
                "ef6f8e31.524c7"
            ]
        ]
    },
    {
        "id": "c429d53d.197a48",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "",
        "func": "var obtaindata = global.get (\"relay5\")\nif (obtaindata == \"1\"){msg.payload = \"0\"}\nif (obtaindata == \"0\"){msg.payload = \"1\"}\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 1740,
        "wires": [
            [
                "1ea94323.bd3c8d"
            ]
        ]
    },
    {
        "id": "566059a0.513448",
        "type": "change",
        "z": "3aa77a92.89f776",
        "name": "re-wirte switch variable",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "relay5",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 1680,
        "wires": [
            []
        ]
    },
    {
        "id": "a1af7268.2bc07",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "check variable value for debug",
        "func": "var obtaindata = global.get (\"relay5\");\nmsg.payload = obtaindata;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 1820,
        "wires": [
            [
                "758dc077.24a93",
                "71eb4ad7.09e914"
            ]
        ]
    },
    {
        "id": "ef6f8e31.524c7",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "",
        "func": "var obtaindata = global.get (\"relay5\");\nmsg.payload = obtaindata;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 1760,
        "wires": [
            [
                "239469d3.f821f6"
            ]
        ]
    },
    {
        "id": "758dc077.24a93",
        "type": "rpi-gpio out",
        "z": "3aa77a92.89f776",
        "name": "",
        "pin": "21",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 1380,
        "y": 1740,
        "wires": []
    },
    {
        "id": "71eb4ad7.09e914",
        "type": "debug",
        "z": "3aa77a92.89f776",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1390,
        "y": 1800,
        "wires": []
    },
    {
        "id": "1ea94323.bd3c8d",
        "type": "trigger",
        "z": "3aa77a92.89f776",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "3",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 1160,
        "y": 1740,
        "wires": [
            [
                "758dc077.24a93",
                "566059a0.513448",
                "71eb4ad7.09e914"
            ]
        ]
    },
    {
        "id": "5a015a6b.2cc714",
        "type": "switch",
        "z": "3aa77a92.89f776",
        "name": "ON/OFF state",
        "property": "relay6",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 400,
        "y": 2020,
        "wires": [
            [
                "577fc428.587e8c"
            ],
            [
                "4171c298.dd432c"
            ]
        ]
    },
    {
        "id": "577fc428.587e8c",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "if is on",
        "func": "msg.color = \"black\";\nmsg.background = \"#EF2F4F\";\nmsg.text = \"OPENING\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 1980,
        "wires": [
            [
                "5fe27a94.790bf4"
            ]
        ]
    },
    {
        "id": "4171c298.dd432c",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "if its off",
        "func": "msg.color = \"black\";\nmsg.background = \"#B4EEB4\";\nmsg.text = \"OPEN\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 2040,
        "wires": [
            [
                "5fe27a94.790bf4"
            ]
        ]
    },
    {
        "id": "5fe27a94.790bf4",
        "type": "ui_button",
        "z": "3aa77a92.89f776",
        "name": "on/off",
        "group": "8ba66781.eaa9d8",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{msg.text}}",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "icon": "fa-arrow-circle-o-down",
        "payload": "none",
        "payloadType": "str",
        "topic": "relay6",
        "x": 770,
        "y": 2000,
        "wires": [
            [
                "3bac03b.4f340fc"
            ]
        ]
    },
    {
        "id": "3bac03b.4f340fc",
        "type": "switch",
        "z": "3aa77a92.89f776",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "relay6",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 890,
        "y": 2000,
        "wires": [
            [
                "6c538b54.f1bb34"
            ]
        ]
    },
    {
        "id": "92f6ed9d.c9fb4",
        "type": "inject",
        "z": "3aa77a92.89f776",
        "name": "",
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "x": 90,
        "y": 1960,
        "wires": [
            [
                "519d7f82.5097c"
            ]
        ]
    },
    {
        "id": "519d7f82.5097c",
        "type": "change",
        "z": "3aa77a92.89f776",
        "name": "global switch start",
        "rules": [
            {
                "t": "set",
                "p": "relay6",
                "pt": "global",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 1960,
        "wires": [
            []
        ]
    },
    {
        "id": "97e190a9.7ce49",
        "type": "inject",
        "z": "3aa77a92.89f776",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 110,
        "y": 2020,
        "wires": [
            [
                "d7f41068.96d9a"
            ]
        ]
    },
    {
        "id": "6c538b54.f1bb34",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "",
        "func": "var obtaindata = global.get (\"relay2\")\nif (obtaindata == \"1\"){msg.payload = \"0\"}\nif (obtaindata == \"0\"){msg.payload = \"1\"}\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 2000,
        "wires": [
            [
                "d129d088.eb349"
            ]
        ]
    },
    {
        "id": "8576bcfe.043ec",
        "type": "change",
        "z": "3aa77a92.89f776",
        "name": "re-wirte switch variable",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "relay6",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 1940,
        "wires": [
            []
        ]
    },
    {
        "id": "3c420fab.92575",
        "type": "inject",
        "z": "3aa77a92.89f776",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 2080,
        "wires": [
            [
                "df8108cd.8c4d08"
            ]
        ]
    },
    {
        "id": "df8108cd.8c4d08",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "check variable value for debug",
        "func": "var obtaindata = global.get (\"relay6\");\nmsg.payload = obtaindata;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 2080,
        "wires": [
            [
                "fe6f35ec.35e348",
                "c8a0c5c2.af4898"
            ]
        ]
    },
    {
        "id": "d7f41068.96d9a",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "",
        "func": "var obtaindata = global.get (\"relay6\");\nmsg.payload = obtaindata;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 2020,
        "wires": [
            [
                "5a015a6b.2cc714"
            ]
        ]
    },
    {
        "id": "fe6f35ec.35e348",
        "type": "rpi-gpio out",
        "z": "3aa77a92.89f776",
        "name": "",
        "pin": "23",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 1380,
        "y": 2000,
        "wires": []
    },
    {
        "id": "c8a0c5c2.af4898",
        "type": "debug",
        "z": "3aa77a92.89f776",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1390,
        "y": 2060,
        "wires": []
    },
    {
        "id": "5dd770d6.d35fe",
        "type": "inject",
        "z": "3aa77a92.89f776",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 1820,
        "wires": [
            [
                "a1af7268.2bc07"
            ]
        ]
    },
    {
        "id": "d129d088.eb349",
        "type": "trigger",
        "z": "3aa77a92.89f776",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "3",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 1140,
        "y": 2000,
        "wires": [
            [
                "fe6f35ec.35e348",
                "8576bcfe.043ec",
                "c8a0c5c2.af4898"
            ]
        ]
    },
    {
        "id": "76c22df5.02d594",
        "type": "comment",
        "z": "3aa77a92.89f776",
        "name": "Virtual Emergency Flow",
        "info": "",
        "x": 140,
        "y": 2140,
        "wires": []
    },
    {
        "id": "ce62aad3.43a5d8",
        "type": "switch",
        "z": "3aa77a92.89f776",
        "name": "ON/OFF state",
        "property": "vrelay6",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 420,
        "y": 2260,
        "wires": [
            [
                "f732909f.2d652"
            ],
            [
                "af790d2c.a2ded"
            ]
        ]
    },
    {
        "id": "f732909f.2d652",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "if is on",
        "func": "msg.color = \"black\";\nmsg.background = \"#EF2F4F\";\nmsg.text = \"CLOSE\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 2220,
        "wires": [
            [
                "ed3d9f6a.ff2"
            ]
        ]
    },
    {
        "id": "af790d2c.a2ded",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "if its off",
        "func": "msg.color = \"black\";\nmsg.background = \"#B4EEB4\";\nmsg.text = \"KEEP OPEN\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 2280,
        "wires": [
            [
                "ed3d9f6a.ff2"
            ]
        ]
    },
    {
        "id": "ed3d9f6a.ff2",
        "type": "ui_button",
        "z": "3aa77a92.89f776",
        "name": "on/off",
        "group": "8ba66781.eaa9d8",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{msg.text}}",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "icon": "fa-exclamation-triangle",
        "payload": "none",
        "payloadType": "str",
        "topic": "vrelay6",
        "x": 770,
        "y": 2240,
        "wires": [
            [
                "7f35d27b.638c6c"
            ]
        ]
    },
    {
        "id": "7f35d27b.638c6c",
        "type": "switch",
        "z": "3aa77a92.89f776",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "vrelay6",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 890,
        "y": 2240,
        "wires": [
            [
                "eab7d5bd.66f638"
            ]
        ]
    },
    {
        "id": "31103346.ff5e5c",
        "type": "inject",
        "z": "3aa77a92.89f776",
        "name": "",
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "x": 90,
        "y": 2200,
        "wires": [
            [
                "1197dec0.529951"
            ]
        ]
    },
    {
        "id": "1197dec0.529951",
        "type": "change",
        "z": "3aa77a92.89f776",
        "name": "global switch start",
        "rules": [
            {
                "t": "set",
                "p": "vrelay6",
                "pt": "global",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 2200,
        "wires": [
            []
        ]
    },
    {
        "id": "2588c60a.f8ee9a",
        "type": "inject",
        "z": "3aa77a92.89f776",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 110,
        "y": 2260,
        "wires": [
            [
                "9df3cad1.1cb558"
            ]
        ]
    },
    {
        "id": "eab7d5bd.66f638",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "",
        "func": "var obtaindata = global.get (\"vrelay6\")\nif (obtaindata == \"1\"){msg.payload = \"0\"}\nif (obtaindata == \"0\"){msg.payload = \"1\"}\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 2240,
        "wires": [
            [
                "8bce268a.56d708",
                "c64015d8.accdb8",
                "5d961a0c.ee3bb4"
            ]
        ]
    },
    {
        "id": "8bce268a.56d708",
        "type": "change",
        "z": "3aa77a92.89f776",
        "name": "re-wirte switch variable",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "vrelay6",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 2180,
        "wires": [
            []
        ]
    },
    {
        "id": "4224a847.78b328",
        "type": "inject",
        "z": "3aa77a92.89f776",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 2320,
        "wires": [
            [
                "b78a4cfd.09c35"
            ]
        ]
    },
    {
        "id": "b78a4cfd.09c35",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "check variable value for debug",
        "func": "var obtaindata = global.get (\"vrelay6\");\nmsg.payload = obtaindata;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 2320,
        "wires": [
            [
                "c64015d8.accdb8",
                "5d961a0c.ee3bb4"
            ]
        ]
    },
    {
        "id": "9df3cad1.1cb558",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "",
        "func": "var obtaindata = global.get (\"vrelay6\");\nmsg.payload = obtaindata;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 2260,
        "wires": [
            [
                "ce62aad3.43a5d8"
            ]
        ]
    },
    {
        "id": "c64015d8.accdb8",
        "type": "rpi-gpio out",
        "z": "3aa77a92.89f776",
        "name": "",
        "pin": "23",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 1380,
        "y": 2240,
        "wires": []
    },
    {
        "id": "5d961a0c.ee3bb4",
        "type": "debug",
        "z": "3aa77a92.89f776",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1390,
        "y": 2300,
        "wires": []
    },
    {
        "id": "a11900f2.0f6ba",
        "type": "comment",
        "z": "3aa77a92.89f776",
        "name": "Relay 7 \"Open door 1 way\"",
        "info": "",
        "x": 150,
        "y": 2400,
        "wires": []
    },
    {
        "id": "ba740e2f.bb217",
        "type": "comment",
        "z": "3aa77a92.89f776",
        "name": "Relay 8 \"Open door opposite way\"",
        "info": "",
        "x": 180,
        "y": 2663,
        "wires": []
    },
    {
        "id": "c9741ba4.68bda8",
        "type": "switch",
        "z": "3aa77a92.89f776",
        "name": "ON/OFF state",
        "property": "relay7",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 440,
        "y": 2520,
        "wires": [
            [
                "e798f329.4a253"
            ],
            [
                "5713d6f4.a73e88"
            ]
        ]
    },
    {
        "id": "e798f329.4a253",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "if is on",
        "func": "msg.color = \"black\";\nmsg.background = \"#EF2F4F\";\nmsg.text = \"OPEN\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 2480,
        "wires": [
            [
                "5cf953d9.87634c"
            ]
        ]
    },
    {
        "id": "5713d6f4.a73e88",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "if its off",
        "func": "msg.color = \"black\";\nmsg.background = \"#B4EEB4\";\nmsg.text = \"OPEN\";\nmsg.icon = \"fa-arrow-circle-o-up\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 2540,
        "wires": [
            [
                "5cf953d9.87634c"
            ]
        ]
    },
    {
        "id": "5cf953d9.87634c",
        "type": "ui_button",
        "z": "3aa77a92.89f776",
        "name": "on/off",
        "group": "3834c212.71cc3e",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{msg.text}}",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "icon": "fa-arrow-circle-o-up",
        "payload": "none",
        "payloadType": "str",
        "topic": "relay7",
        "x": 770,
        "y": 2500,
        "wires": [
            [
                "cfcbdf88.72f2a"
            ]
        ]
    },
    {
        "id": "cfcbdf88.72f2a",
        "type": "switch",
        "z": "3aa77a92.89f776",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "relay7",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 890,
        "y": 2500,
        "wires": [
            [
                "856f6180.a6545"
            ]
        ]
    },
    {
        "id": "59cb3196.9a1da",
        "type": "inject",
        "z": "3aa77a92.89f776",
        "name": "",
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "x": 90,
        "y": 2460,
        "wires": [
            [
                "efc52af3.9b5ac8"
            ]
        ]
    },
    {
        "id": "efc52af3.9b5ac8",
        "type": "change",
        "z": "3aa77a92.89f776",
        "name": "global switch start",
        "rules": [
            {
                "t": "set",
                "p": "relay7",
                "pt": "global",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 2460,
        "wires": [
            []
        ]
    },
    {
        "id": "aabf8839.b8d138",
        "type": "inject",
        "z": "3aa77a92.89f776",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 110,
        "y": 2520,
        "wires": [
            [
                "92b42981.cbdd98"
            ]
        ]
    },
    {
        "id": "856f6180.a6545",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "",
        "func": "var obtaindata = global.get (\"relay7\")\nif (obtaindata == \"1\"){msg.payload = \"0\"}\nif (obtaindata == \"0\"){msg.payload = \"1\"}\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 2500,
        "wires": [
            [
                "2a2bd8ff.5ec468"
            ]
        ]
    },
    {
        "id": "dd0127e5.c6b1f8",
        "type": "change",
        "z": "3aa77a92.89f776",
        "name": "re-wirte switch variable",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "relay7",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 2440,
        "wires": [
            []
        ]
    },
    {
        "id": "8f1a6faf.58f12",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "check variable value for debug",
        "func": "var obtaindata = global.get (\"relay7\");\nmsg.payload = obtaindata;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 2580,
        "wires": [
            [
                "fbe0b7cc.a21d68",
                "ae8f3d90.089f6"
            ]
        ]
    },
    {
        "id": "92b42981.cbdd98",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "",
        "func": "var obtaindata = global.get (\"relay7\");\nmsg.payload = obtaindata;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 2520,
        "wires": [
            [
                "c9741ba4.68bda8"
            ]
        ]
    },
    {
        "id": "fbe0b7cc.a21d68",
        "type": "rpi-gpio out",
        "z": "3aa77a92.89f776",
        "name": "",
        "pin": "22",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 1380,
        "y": 2500,
        "wires": []
    },
    {
        "id": "ae8f3d90.089f6",
        "type": "debug",
        "z": "3aa77a92.89f776",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1390,
        "y": 2560,
        "wires": []
    },
    {
        "id": "2a2bd8ff.5ec468",
        "type": "trigger",
        "z": "3aa77a92.89f776",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "3",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 1160,
        "y": 2500,
        "wires": [
            [
                "fbe0b7cc.a21d68",
                "dd0127e5.c6b1f8",
                "ae8f3d90.089f6"
            ]
        ]
    },
    {
        "id": "18ecb939.774f67",
        "type": "switch",
        "z": "3aa77a92.89f776",
        "name": "ON/OFF state",
        "property": "relay8",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 400,
        "y": 2780,
        "wires": [
            [
                "9b246154.2b0f8"
            ],
            [
                "88f2f816.ebd078"
            ]
        ]
    },
    {
        "id": "9b246154.2b0f8",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "if is on",
        "func": "msg.color = \"black\";\nmsg.background = \"#EF2F4F\";\nmsg.text = \"OPENING\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 2740,
        "wires": [
            [
                "6bec94f1.081c5c"
            ]
        ]
    },
    {
        "id": "88f2f816.ebd078",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "if its off",
        "func": "msg.color = \"black\";\nmsg.background = \"#B4EEB4\";\nmsg.text = \"OPEN\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 2800,
        "wires": [
            [
                "6bec94f1.081c5c"
            ]
        ]
    },
    {
        "id": "6bec94f1.081c5c",
        "type": "ui_button",
        "z": "3aa77a92.89f776",
        "name": "on/off",
        "group": "3834c212.71cc3e",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{msg.text}}",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "icon": "fa-arrow-circle-o-down",
        "payload": "none",
        "payloadType": "str",
        "topic": "relay8",
        "x": 770,
        "y": 2760,
        "wires": [
            [
                "8ac3b6d4.309388"
            ]
        ]
    },
    {
        "id": "8ac3b6d4.309388",
        "type": "switch",
        "z": "3aa77a92.89f776",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "relay8",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 890,
        "y": 2760,
        "wires": [
            [
                "6698f304.d7fccc"
            ]
        ]
    },
    {
        "id": "f3deae25.f01ab",
        "type": "inject",
        "z": "3aa77a92.89f776",
        "name": "",
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "x": 90,
        "y": 2720,
        "wires": [
            [
                "b744f79c.fc62b8"
            ]
        ]
    },
    {
        "id": "b744f79c.fc62b8",
        "type": "change",
        "z": "3aa77a92.89f776",
        "name": "global switch start",
        "rules": [
            {
                "t": "set",
                "p": "relay8",
                "pt": "global",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 2720,
        "wires": [
            []
        ]
    },
    {
        "id": "53c33c2f.5ecca4",
        "type": "inject",
        "z": "3aa77a92.89f776",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 110,
        "y": 2780,
        "wires": [
            [
                "cace7d22.decd8"
            ]
        ]
    },
    {
        "id": "6698f304.d7fccc",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "",
        "func": "var obtaindata = global.get (\"relay8\")\nif (obtaindata == \"1\"){msg.payload = \"0\"}\nif (obtaindata == \"0\"){msg.payload = \"1\"}\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 2760,
        "wires": [
            [
                "7e8e8a40.05d4a4"
            ]
        ]
    },
    {
        "id": "996ba158.c77de",
        "type": "change",
        "z": "3aa77a92.89f776",
        "name": "re-wirte switch variable",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "relay8",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 2700,
        "wires": [
            []
        ]
    },
    {
        "id": "4a2f476c.6ea688",
        "type": "inject",
        "z": "3aa77a92.89f776",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 2840,
        "wires": [
            [
                "11b5d986.d0f626"
            ]
        ]
    },
    {
        "id": "11b5d986.d0f626",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "check variable value for debug",
        "func": "var obtaindata = global.get (\"relay8\");\nmsg.payload = obtaindata;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 2840,
        "wires": [
            [
                "9f40d488.d6fa68",
                "233e98ee.3cf8a8"
            ]
        ]
    },
    {
        "id": "cace7d22.decd8",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "",
        "func": "var obtaindata = global.get (\"relay8\");\nmsg.payload = obtaindata;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 2780,
        "wires": [
            [
                "18ecb939.774f67"
            ]
        ]
    },
    {
        "id": "9f40d488.d6fa68",
        "type": "rpi-gpio out",
        "z": "3aa77a92.89f776",
        "name": "",
        "pin": "18",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 1380,
        "y": 2760,
        "wires": []
    },
    {
        "id": "233e98ee.3cf8a8",
        "type": "debug",
        "z": "3aa77a92.89f776",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1390,
        "y": 2820,
        "wires": []
    },
    {
        "id": "427213fc.d5913c",
        "type": "inject",
        "z": "3aa77a92.89f776",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 2580,
        "wires": [
            [
                "8f1a6faf.58f12"
            ]
        ]
    },
    {
        "id": "7e8e8a40.05d4a4",
        "type": "trigger",
        "z": "3aa77a92.89f776",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "3",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 1140,
        "y": 2760,
        "wires": [
            [
                "9f40d488.d6fa68",
                "996ba158.c77de",
                "233e98ee.3cf8a8"
            ]
        ]
    },
    {
        "id": "1ac24e4d.62d182",
        "type": "comment",
        "z": "3aa77a92.89f776",
        "name": "Virtual Emergency Flow",
        "info": "",
        "x": 140,
        "y": 2900,
        "wires": []
    },
    {
        "id": "f4451320.1f85d",
        "type": "switch",
        "z": "3aa77a92.89f776",
        "name": "ON/OFF state",
        "property": "vrelay8",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 420,
        "y": 3020,
        "wires": [
            [
                "c621a051.86f2e"
            ],
            [
                "c6032de9.090c"
            ]
        ]
    },
    {
        "id": "c621a051.86f2e",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "if is on",
        "func": "msg.color = \"black\";\nmsg.background = \"#EF2F4F\";\nmsg.text = \"CLOSE\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 2980,
        "wires": [
            [
                "d67a03ac.daa26"
            ]
        ]
    },
    {
        "id": "c6032de9.090c",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "if its off",
        "func": "msg.color = \"black\";\nmsg.background = \"#B4EEB4\";\nmsg.text = \"KEEP OPEN\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 3040,
        "wires": [
            [
                "d67a03ac.daa26"
            ]
        ]
    },
    {
        "id": "d67a03ac.daa26",
        "type": "ui_button",
        "z": "3aa77a92.89f776",
        "name": "on/off",
        "group": "3834c212.71cc3e",
        "order": 3,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{msg.text}}",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "icon": "fa-exclamation-triangle",
        "payload": "none",
        "payloadType": "str",
        "topic": "vrelay8",
        "x": 770,
        "y": 3000,
        "wires": [
            [
                "75a1bccc.3b9344"
            ]
        ]
    },
    {
        "id": "75a1bccc.3b9344",
        "type": "switch",
        "z": "3aa77a92.89f776",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "vrelay8",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 890,
        "y": 3000,
        "wires": [
            [
                "622b283.ff6ead8"
            ]
        ]
    },
    {
        "id": "8ed5285a.8eb868",
        "type": "inject",
        "z": "3aa77a92.89f776",
        "name": "",
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "x": 90,
        "y": 2960,
        "wires": [
            [
                "d2ed5253.60896"
            ]
        ]
    },
    {
        "id": "d2ed5253.60896",
        "type": "change",
        "z": "3aa77a92.89f776",
        "name": "global switch start",
        "rules": [
            {
                "t": "set",
                "p": "vrelay8",
                "pt": "global",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 2960,
        "wires": [
            []
        ]
    },
    {
        "id": "954d0b93.557258",
        "type": "inject",
        "z": "3aa77a92.89f776",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 110,
        "y": 3020,
        "wires": [
            [
                "17bbb806.5a2db8"
            ]
        ]
    },
    {
        "id": "622b283.ff6ead8",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "",
        "func": "var obtaindata = global.get (\"vrelay8\")\nif (obtaindata == \"1\"){msg.payload = \"0\"}\nif (obtaindata == \"0\"){msg.payload = \"1\"}\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1010,
        "y": 3000,
        "wires": [
            [
                "9919d815.533788",
                "c06ebf9f.33775",
                "cc36eb8c.fe20f8"
            ]
        ]
    },
    {
        "id": "9919d815.533788",
        "type": "change",
        "z": "3aa77a92.89f776",
        "name": "re-wirte switch variable",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "vrelay8",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 2940,
        "wires": [
            []
        ]
    },
    {
        "id": "dafb526.1b705b",
        "type": "inject",
        "z": "3aa77a92.89f776",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 3080,
        "wires": [
            [
                "18acf319.1cfbed"
            ]
        ]
    },
    {
        "id": "18acf319.1cfbed",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "check variable value for debug",
        "func": "var obtaindata = global.get (\"vrelay8\");\nmsg.payload = obtaindata;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 3080,
        "wires": [
            [
                "c06ebf9f.33775",
                "cc36eb8c.fe20f8"
            ]
        ]
    },
    {
        "id": "17bbb806.5a2db8",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "",
        "func": "var obtaindata = global.get (\"vrelay8\");\nmsg.payload = obtaindata;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 3020,
        "wires": [
            [
                "f4451320.1f85d"
            ]
        ]
    },
    {
        "id": "c06ebf9f.33775",
        "type": "rpi-gpio out",
        "z": "3aa77a92.89f776",
        "name": "",
        "pin": "18",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 1380,
        "y": 3000,
        "wires": []
    },
    {
        "id": "cc36eb8c.fe20f8",
        "type": "debug",
        "z": "3aa77a92.89f776",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1390,
        "y": 3060,
        "wires": []
    },
    {
        "id": "16cb4359.c33e7d",
        "type": "comment",
        "z": "3aa77a92.89f776",
        "name": "Virtual Emergency All On/OFF Flow",
        "info": "",
        "x": 200,
        "y": 4020,
        "wires": []
    },
    {
        "id": "75947e7c.deade",
        "type": "switch",
        "z": "3aa77a92.89f776",
        "name": "ON/OFF state",
        "property": "vrelayall",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 440,
        "y": 4140,
        "wires": [
            [
                "317141a9.f13a2e"
            ],
            [
                "ba3eebfd.fdadb8"
            ]
        ]
    },
    {
        "id": "317141a9.f13a2e",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "if is on",
        "func": "msg.color = \"black\";\nmsg.background = \"#EF2F4F\";\nmsg.text = \"CLOSE ALL\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 610,
        "y": 4100,
        "wires": [
            [
                "911fa635.0f7428"
            ]
        ]
    },
    {
        "id": "ba3eebfd.fdadb8",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "if its off",
        "func": "msg.color = \"black\";\nmsg.background = \"#B4EEB4\";\nmsg.text = \"KEEP ALL OPEN\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 620,
        "y": 4160,
        "wires": [
            [
                "911fa635.0f7428"
            ]
        ]
    },
    {
        "id": "911fa635.0f7428",
        "type": "ui_button",
        "z": "3aa77a92.89f776",
        "name": "Emergency On/Off",
        "group": "629d42b4.82376c",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{msg.text}}",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "icon": "fa-exclamation-triangle",
        "payload": "none",
        "payloadType": "str",
        "topic": "vrelayall",
        "x": 830,
        "y": 4120,
        "wires": [
            [
                "16af0c7c.05f8f4"
            ]
        ]
    },
    {
        "id": "3280716b.2eb17e",
        "type": "inject",
        "z": "3aa77a92.89f776",
        "name": "",
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "x": 110,
        "y": 4080,
        "wires": [
            [
                "858d6f43.be732"
            ]
        ]
    },
    {
        "id": "858d6f43.be732",
        "type": "change",
        "z": "3aa77a92.89f776",
        "name": "global switch start",
        "rules": [
            {
                "t": "set",
                "p": "vrelayall",
                "pt": "global",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 4080,
        "wires": [
            []
        ]
    },
    {
        "id": "48d36f.8ae4ec9",
        "type": "inject",
        "z": "3aa77a92.89f776",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 130,
        "y": 4140,
        "wires": [
            [
                "47c7b9da.975cc8"
            ]
        ]
    },
    {
        "id": "645341c3.c92ad",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "",
        "func": "var obtaindata = global.get (\"vrelayall\")\nif (obtaindata == \"1\"){msg.payload = \"0\"}\nif (obtaindata == \"0\"){msg.payload = \"1\"}\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1150,
        "y": 4120,
        "wires": [
            [
                "fef38f35.d16b8",
                "8dbe3f49.59135",
                "6ac43d42.10f954",
                "79c51802.43a0c8",
                "e706452b.8b81d8",
                "36be69bf.38a1f6",
                "5dc25cdd.9f2e14",
                "8b92f13e.2c1d1",
                "3c0fb1aa.d16c9e",
                "65f6e98b.292bc8",
                "9d49d25.c08d33",
                "b0f3ea76.8c4ab8",
                "9db40249.889f4",
                "5f67a6e4.e14908"
            ]
        ]
    },
    {
        "id": "fef38f35.d16b8",
        "type": "change",
        "z": "3aa77a92.89f776",
        "name": "re-wirte switch variable",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "vrelayall",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1420,
        "y": 4040,
        "wires": [
            []
        ]
    },
    {
        "id": "c52284bf.3eebb8",
        "type": "inject",
        "z": "3aa77a92.89f776",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 4200,
        "wires": [
            [
                "6e0afaac.49cef4"
            ]
        ]
    },
    {
        "id": "6e0afaac.49cef4",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "check variable value for debug",
        "func": "var obtaindata = global.get (\"vrelayall\");\nmsg.payload = obtaindata;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 710,
        "y": 4200,
        "wires": [
            [
                "8dbe3f49.59135",
                "6ac43d42.10f954"
            ]
        ]
    },
    {
        "id": "47c7b9da.975cc8",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "",
        "func": "var obtaindata = global.get (\"vrelayall\");\nmsg.payload = obtaindata;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 4140,
        "wires": [
            [
                "75947e7c.deade"
            ]
        ]
    },
    {
        "id": "8dbe3f49.59135",
        "type": "rpi-gpio out",
        "z": "3aa77a92.89f776",
        "name": "",
        "pin": "15",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 1400,
        "y": 4240,
        "wires": []
    },
    {
        "id": "6ac43d42.10f954",
        "type": "debug",
        "z": "3aa77a92.89f776",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1410,
        "y": 4420,
        "wires": []
    },
    {
        "id": "16af0c7c.05f8f4",
        "type": "switch",
        "z": "3aa77a92.89f776",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "vrelayall",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1010,
        "y": 4120,
        "wires": [
            [
                "645341c3.c92ad"
            ]
        ]
    },
    {
        "id": "79c51802.43a0c8",
        "type": "rpi-gpio out",
        "z": "3aa77a92.89f776",
        "name": "",
        "pin": "16",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 1400,
        "y": 4300,
        "wires": []
    },
    {
        "id": "65f6e98b.292bc8",
        "type": "rpi-gpio out",
        "z": "3aa77a92.89f776",
        "name": "",
        "pin": "19",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 1400,
        "y": 4360,
        "wires": []
    },
    {
        "id": "36be69bf.38a1f6",
        "type": "rpi-gpio out",
        "z": "3aa77a92.89f776",
        "name": "",
        "pin": "21",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 1560,
        "y": 4180,
        "wires": []
    },
    {
        "id": "5dc25cdd.9f2e14",
        "type": "rpi-gpio out",
        "z": "3aa77a92.89f776",
        "name": "",
        "pin": "23",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 1560,
        "y": 4240,
        "wires": []
    },
    {
        "id": "e706452b.8b81d8",
        "type": "rpi-gpio out",
        "z": "3aa77a92.89f776",
        "name": "",
        "pin": "13",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 1400,
        "y": 4180,
        "wires": []
    },
    {
        "id": "8b92f13e.2c1d1",
        "type": "rpi-gpio out",
        "z": "3aa77a92.89f776",
        "name": "",
        "pin": "22",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 1560,
        "y": 4300,
        "wires": []
    },
    {
        "id": "3c0fb1aa.d16c9e",
        "type": "rpi-gpio out",
        "z": "3aa77a92.89f776",
        "name": "",
        "pin": "18",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 1560,
        "y": 4360,
        "wires": []
    },
    {
        "id": "9d49d25.c08d33",
        "type": "change",
        "z": "3aa77a92.89f776",
        "name": "re-wirte switch variable",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "vrelay2",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1420,
        "y": 4080,
        "wires": [
            []
        ]
    },
    {
        "id": "b0f3ea76.8c4ab8",
        "type": "change",
        "z": "3aa77a92.89f776",
        "name": "re-wirte switch variable",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "vrelay4",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1420,
        "y": 4120,
        "wires": [
            []
        ]
    },
    {
        "id": "9db40249.889f4",
        "type": "change",
        "z": "3aa77a92.89f776",
        "name": "re-wirte switch variable",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "vrelay6",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1640,
        "y": 4040,
        "wires": [
            []
        ]
    },
    {
        "id": "5f67a6e4.e14908",
        "type": "change",
        "z": "3aa77a92.89f776",
        "name": "re-wirte switch variable",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "vrelay8",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1640,
        "y": 4080,
        "wires": [
            []
        ]
    },
    {
        "id": "d453b65b.cb2488",
        "type": "comment",
        "z": "3aa77a92.89f776",
        "name": "Virtual Emergency All Open 1 Way Flow",
        "info": "",
        "x": 190,
        "y": 3160,
        "wires": []
    },
    {
        "id": "837db904.fa4e28",
        "type": "switch",
        "z": "3aa77a92.89f776",
        "name": "ON/OFF state",
        "property": "vrelayallopen1",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 420,
        "y": 3280,
        "wires": [
            [
                "5f5eb011.81cb4"
            ],
            [
                "8c4d84a1.5179d8"
            ]
        ]
    },
    {
        "id": "5f5eb011.81cb4",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "if is on",
        "func": "msg.color = \"black\";\nmsg.background = \"#EF2F4F\";\nmsg.text = \"CLOSE ALL\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 3240,
        "wires": [
            [
                "e10b9c64.50775"
            ]
        ]
    },
    {
        "id": "8c4d84a1.5179d8",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "if its off",
        "func": "msg.color = \"black\";\nmsg.background = \"#B4EEB4\";\nmsg.text = \"OPEN ALL\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 3300,
        "wires": [
            [
                "e10b9c64.50775"
            ]
        ]
    },
    {
        "id": "e10b9c64.50775",
        "type": "ui_button",
        "z": "3aa77a92.89f776",
        "name": "Emergency On/Off",
        "group": "629d42b4.82376c",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{msg.text}}",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "icon": "fa-arrow-circle-o-up",
        "payload": "none",
        "payloadType": "str",
        "topic": "vrelayallopen1",
        "x": 810,
        "y": 3260,
        "wires": [
            [
                "c1d73115.5d9c4"
            ]
        ]
    },
    {
        "id": "15a2a8f2.b36aa7",
        "type": "inject",
        "z": "3aa77a92.89f776",
        "name": "",
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "x": 90,
        "y": 3220,
        "wires": [
            [
                "7726ad07.a8a0d4"
            ]
        ]
    },
    {
        "id": "7726ad07.a8a0d4",
        "type": "change",
        "z": "3aa77a92.89f776",
        "name": "global switch start",
        "rules": [
            {
                "t": "set",
                "p": "vrelayallopen1",
                "pt": "global",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 3220,
        "wires": [
            []
        ]
    },
    {
        "id": "707dee26.83372",
        "type": "inject",
        "z": "3aa77a92.89f776",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 110,
        "y": 3280,
        "wires": [
            [
                "7fe48f15.bf90a"
            ]
        ]
    },
    {
        "id": "612ae0cd.8215d",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "",
        "func": "var obtaindata = global.get (\"vrelayallopen1\")\nif (obtaindata == \"1\"){msg.payload = \"0\"}\nif (obtaindata == \"0\"){msg.payload = \"1\"}\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1130,
        "y": 3260,
        "wires": [
            [
                "56b7f63d.8919f8"
            ]
        ]
    },
    {
        "id": "27af627.5965f9e",
        "type": "inject",
        "z": "3aa77a92.89f776",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 3340,
        "wires": [
            [
                "f701b928.ac3b18"
            ]
        ]
    },
    {
        "id": "f701b928.ac3b18",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "check variable value for debug",
        "func": "var obtaindata = global.get (\"vrelayallopen1\");\nmsg.payload = obtaindata;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 3340,
        "wires": [
            [
                "798dbe69.fe7b7"
            ]
        ]
    },
    {
        "id": "7fe48f15.bf90a",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "",
        "func": "var obtaindata = global.get (\"vrelayallopen1\");\nmsg.payload = obtaindata;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 3280,
        "wires": [
            [
                "837db904.fa4e28"
            ]
        ]
    },
    {
        "id": "798dbe69.fe7b7",
        "type": "debug",
        "z": "3aa77a92.89f776",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1570,
        "y": 3520,
        "wires": []
    },
    {
        "id": "c1d73115.5d9c4",
        "type": "switch",
        "z": "3aa77a92.89f776",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "vrelayallopen1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 990,
        "y": 3260,
        "wires": [
            [
                "612ae0cd.8215d"
            ]
        ]
    },
    {
        "id": "a5e1d03b.d024e",
        "type": "rpi-gpio out",
        "z": "3aa77a92.89f776",
        "name": "",
        "pin": "16",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 1560,
        "y": 3340,
        "wires": []
    },
    {
        "id": "da4bded2.46bb6",
        "type": "rpi-gpio out",
        "z": "3aa77a92.89f776",
        "name": "",
        "pin": "21",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 1560,
        "y": 3400,
        "wires": []
    },
    {
        "id": "667c0959.250248",
        "type": "rpi-gpio out",
        "z": "3aa77a92.89f776",
        "name": "",
        "pin": "13",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 1560,
        "y": 3280,
        "wires": []
    },
    {
        "id": "88101ffc.b42fe",
        "type": "rpi-gpio out",
        "z": "3aa77a92.89f776",
        "name": "",
        "pin": "22",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 1560,
        "y": 3460,
        "wires": []
    },
    {
        "id": "7817897b.f93278",
        "type": "change",
        "z": "3aa77a92.89f776",
        "name": "re-wirte switch variable",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "relay1",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1580,
        "y": 3180,
        "wires": [
            []
        ]
    },
    {
        "id": "f6abdb86.0f8708",
        "type": "change",
        "z": "3aa77a92.89f776",
        "name": "re-wirte switch variable",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "relay3",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1580,
        "y": 3220,
        "wires": [
            []
        ]
    },
    {
        "id": "190c7530.47b4eb",
        "type": "change",
        "z": "3aa77a92.89f776",
        "name": "re-wirte switch variable",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "relay7",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1800,
        "y": 3180,
        "wires": [
            []
        ]
    },
    {
        "id": "7a9e712a.f8b23",
        "type": "change",
        "z": "3aa77a92.89f776",
        "name": "re-wirte switch variable",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "vrelayallopen1",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1580,
        "y": 3140,
        "wires": [
            []
        ]
    },
    {
        "id": "be3807bb.962cc8",
        "type": "change",
        "z": "3aa77a92.89f776",
        "name": "re-wirte switch variable",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "relay5",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1800,
        "y": 3140,
        "wires": [
            []
        ]
    },
    {
        "id": "56b7f63d.8919f8",
        "type": "trigger",
        "z": "3aa77a92.89f776",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "3",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 1300,
        "y": 3260,
        "wires": [
            [
                "7a9e712a.f8b23",
                "7817897b.f93278",
                "f6abdb86.0f8708",
                "be3807bb.962cc8",
                "190c7530.47b4eb",
                "667c0959.250248",
                "a5e1d03b.d024e",
                "da4bded2.46bb6",
                "88101ffc.b42fe",
                "798dbe69.fe7b7"
            ]
        ]
    },
    {
        "id": "d4b77287.19d1",
        "type": "comment",
        "z": "3aa77a92.89f776",
        "name": "Virtual Emergency All Open Opposite Way Flow",
        "info": "",
        "x": 220,
        "y": 3540,
        "wires": []
    },
    {
        "id": "efbc0bc3.cfd168",
        "type": "switch",
        "z": "3aa77a92.89f776",
        "name": "ON/OFF state",
        "property": "vrelayallopen2",
        "propertyType": "global",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "0",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 420,
        "y": 3660,
        "wires": [
            [
                "d92f19c4.6fcb58"
            ],
            [
                "d3928fca.2f7ad"
            ]
        ]
    },
    {
        "id": "d92f19c4.6fcb58",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "if is on",
        "func": "msg.color = \"black\";\nmsg.background = \"#EF2F4F\";\nmsg.text = \"CLOSE ALL\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 590,
        "y": 3620,
        "wires": [
            [
                "e4de00a.d298f"
            ]
        ]
    },
    {
        "id": "d3928fca.2f7ad",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "if its off",
        "func": "msg.color = \"black\";\nmsg.background = \"#B4EEB4\";\nmsg.text = \"OPEN ALL\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 3680,
        "wires": [
            [
                "e4de00a.d298f"
            ]
        ]
    },
    {
        "id": "e4de00a.d298f",
        "type": "ui_button",
        "z": "3aa77a92.89f776",
        "name": "Emergency On/Off",
        "group": "629d42b4.82376c",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "{{msg.text}}",
        "tooltip": "",
        "color": "{{msg.color}}",
        "bgcolor": "{{msg.background}}",
        "icon": "fa-arrow-circle-o-down",
        "payload": "none",
        "payloadType": "str",
        "topic": "vrelayallopen2",
        "x": 810,
        "y": 3640,
        "wires": [
            [
                "ab57ef75.f69ea"
            ]
        ]
    },
    {
        "id": "5b67030e.149d3c",
        "type": "inject",
        "z": "3aa77a92.89f776",
        "name": "",
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "x": 90,
        "y": 3600,
        "wires": [
            [
                "e4543963.198d88"
            ]
        ]
    },
    {
        "id": "e4543963.198d88",
        "type": "change",
        "z": "3aa77a92.89f776",
        "name": "global switch start",
        "rules": [
            {
                "t": "set",
                "p": "vrelayallopen2",
                "pt": "global",
                "to": "0",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 3600,
        "wires": [
            []
        ]
    },
    {
        "id": "486023ef.5e2c1c",
        "type": "inject",
        "z": "3aa77a92.89f776",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "0.1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 110,
        "y": 3660,
        "wires": [
            [
                "1d3999bc.108ec6"
            ]
        ]
    },
    {
        "id": "3e661f25.66412",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "",
        "func": "var obtaindata = global.get (\"vrelayallopen2\")\nif (obtaindata == \"1\"){msg.payload = \"0\"}\nif (obtaindata == \"0\"){msg.payload = \"1\"}\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 1130,
        "y": 3640,
        "wires": [
            [
                "f9a8c17e.02648"
            ]
        ]
    },
    {
        "id": "74af2005.dda06",
        "type": "inject",
        "z": "3aa77a92.89f776",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 100,
        "y": 3720,
        "wires": [
            [
                "5d305c30.955c84"
            ]
        ]
    },
    {
        "id": "5d305c30.955c84",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "check variable value for debug",
        "func": "var obtaindata = global.get (\"vrelayallopen2\");\nmsg.payload = obtaindata;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 690,
        "y": 3720,
        "wires": [
            [
                "cbe8548.3c433a8"
            ]
        ]
    },
    {
        "id": "1d3999bc.108ec6",
        "type": "function",
        "z": "3aa77a92.89f776",
        "name": "",
        "func": "var obtaindata = global.get (\"vrelayallopen2\");\nmsg.payload = obtaindata;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 3660,
        "wires": [
            [
                "efbc0bc3.cfd168"
            ]
        ]
    },
    {
        "id": "cbe8548.3c433a8",
        "type": "debug",
        "z": "3aa77a92.89f776",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1570,
        "y": 3960,
        "wires": []
    },
    {
        "id": "ab57ef75.f69ea",
        "type": "switch",
        "z": "3aa77a92.89f776",
        "name": "",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "vrelayallopen2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 990,
        "y": 3640,
        "wires": [
            [
                "3e661f25.66412"
            ]
        ]
    },
    {
        "id": "e71d8482.025d48",
        "type": "rpi-gpio out",
        "z": "3aa77a92.89f776",
        "name": "",
        "pin": "19",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 1560,
        "y": 3780,
        "wires": []
    },
    {
        "id": "f7374177.02e1f",
        "type": "rpi-gpio out",
        "z": "3aa77a92.89f776",
        "name": "",
        "pin": "23",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 1560,
        "y": 3840,
        "wires": []
    },
    {
        "id": "e61f23ec.85bd4",
        "type": "rpi-gpio out",
        "z": "3aa77a92.89f776",
        "name": "",
        "pin": "15",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 1560,
        "y": 3720,
        "wires": []
    },
    {
        "id": "86dde130.64385",
        "type": "rpi-gpio out",
        "z": "3aa77a92.89f776",
        "name": "",
        "pin": "18",
        "set": "",
        "level": "0",
        "freq": "",
        "out": "out",
        "x": 1560,
        "y": 3900,
        "wires": []
    },
    {
        "id": "cfc88b5e.452b28",
        "type": "change",
        "z": "3aa77a92.89f776",
        "name": "re-wirte switch variable",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "relay2",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1580,
        "y": 3620,
        "wires": [
            []
        ]
    },
    {
        "id": "ef3c1f4c.6366e",
        "type": "change",
        "z": "3aa77a92.89f776",
        "name": "re-wirte switch variable",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "relay4",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1580,
        "y": 3660,
        "wires": [
            []
        ]
    },
    {
        "id": "a86afb11.949388",
        "type": "change",
        "z": "3aa77a92.89f776",
        "name": "re-wirte switch variable",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "vrelayallopen2",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1580,
        "y": 3580,
        "wires": [
            []
        ]
    },
    {
        "id": "f9a8c17e.02648",
        "type": "trigger",
        "z": "3aa77a92.89f776",
        "op1": "",
        "op2": "0",
        "op1type": "pay",
        "op2type": "str",
        "duration": "3",
        "extend": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "name": "",
        "x": 1300,
        "y": 3640,
        "wires": [
            [
                "a86afb11.949388",
                "cfc88b5e.452b28",
                "ef3c1f4c.6366e",
                "e61f23ec.85bd4",
                "e71d8482.025d48",
                "f7374177.02e1f",
                "86dde130.64385",
                "cbe8548.3c433a8",
                "ce944b3a.b5d2e8",
                "f7199955.105418"
            ]
        ]
    },
    {
        "id": "f7199955.105418",
        "type": "change",
        "z": "3aa77a92.89f776",
        "name": "re-wirte switch variable",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "relay8",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1820,
        "y": 3620,
        "wires": [
            []
        ]
    },
    {
        "id": "ce944b3a.b5d2e8",
        "type": "change",
        "z": "3aa77a92.89f776",
        "name": "re-wirte switch variable",
        "rules": [
            {
                "t": "move",
                "p": "payload",
                "pt": "msg",
                "to": "relay6",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1820,
        "y": 3580,
        "wires": [
            []
        ]
    },
    {
        "id": "1c6dc6a2.a5bce9",
        "type": "ui_group",
        "z": "",
        "name": "Entrance Door",
        "tab": "b8931940.a47c28",
        "order": 1,
        "disp": true,
        "width": 3,
        "collapse": false
    },
    {
        "id": "21fdd7fc.fa69e8",
        "type": "ui_group",
        "z": "",
        "name": "Entrance Door 2",
        "tab": "b8931940.a47c28",
        "order": 3,
        "disp": true,
        "width": 3,
        "collapse": false
    },
    {
        "id": "8ba66781.eaa9d8",
        "type": "ui_group",
        "z": "",
        "name": "Service Door",
        "tab": "b8931940.a47c28",
        "order": 4,
        "disp": true,
        "width": 3,
        "collapse": false
    },
    {
        "id": "3834c212.71cc3e",
        "type": "ui_group",
        "z": "",
        "name": "Backdoor",
        "tab": "b8931940.a47c28",
        "order": 5,
        "disp": true,
        "width": 3,
        "collapse": false
    },
    {
        "id": "629d42b4.82376c",
        "type": "ui_group",
        "z": "",
        "name": "Emergency",
        "tab": "b8931940.a47c28",
        "order": 10,
        "disp": true,
        "width": 3,
        "collapse": false
    },
    {
        "id": "b8931940.a47c28",
        "type": "ui_tab",
        "z": "",
        "name": "Doors",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]